*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
:root{
	--font-min-size:17px;
	--black-color: #1C252E;
	--grey-color: #637381;
	--border-color:#e0e2e4;
}
body{
	font-size:var(--font-min-size);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	scroll-behavior: smooth;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' width='20' height='20' patternTransform='scale(1.8)' patternUnits='userSpaceOnUse'%3E%3Crect width='100%25' height='100%25' fill='none'/%3E%3Cpath fill='none' stroke='rgba(0, 0, 0, 0.02)' d='M10 0v20M0 10h20'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%25' height='800%25' fill='url(%23a)'/%3E%3C/svg%3E");
    background-size: 500px 500px;
}
main{
	width: 100%;
}
.wrapper{
    width: fit-content;
    margin: 9rem auto 0;
}
.form-container{
    min-width: 425px;
    padding: 30px 6px 30px 10px;
}
.form-input-container .form-subcontainer, .submit-button{
	max-width: 400px;
}
.admin-header{
	margin-bottom:2rem;
	text-align:center;
}
.admin-logo-container{
	width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
}
.admin-logo-container img{
	object-fit:contain;
	width:100%;
	height:100%;
}
.admin-logo-name{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: var(--black-color);
    vertical-align: middle;
	margin-left: 5px;
}
.admin-footer{
	font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
    margin-top: 2rem;
    text-align: center;
}
.form-subcontainer, .category-subcontainer{
	margin: 22px 0px 28px;
	position: relative;
}
.form-subcontainer:has(.error-active){
	margin: 22px 0px 34px;
}
input[type='radio']{
	display:none;
}
.form-label,.form-heading{
	display: block;
    color: var(--black-color);
    font-size: var(--font-min-size);
    font-weight: 600;
    margin-bottom: 8px;
}
.form-label{
	max-width: 100px;
}
.form-label::before{
    content: '';
    position: absolute;
    top: 30px;
    left: 42px;
    width: 1px;
    height: 50px;
    background-color: var(--border-color);
	transition: 0.3s ease-out;
}
.category-option{
    width: 128px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid var(--border-color);
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #3a444d;
    font-size: 15px;
    font-weight: 400;
    margin: 6px 2px 0px;
    position: relative;
    user-select: none;
    transition: 0.3s ease-out;
}
.category-option::before{
	content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid var(--black-color);
    right: 11px;
    top: 13px;
    transform: scale(0);
    transition: 0.3s ease-out;
}
.category-input:checked + .category-option::before{
	box-shadow: inset 0 0 0 3px var(--black-color);
	transform: scale(1);
}
.category-input:checked + .category-option, .category-option:hover{
	border-color:var(--black-color);
	color: var(--black-color);
	font-weight: 600;
}
.form-input{
    font-family: inherit;
    width: 100%;
    height: 50px;
    outline: none;
    background: none;
	padding: 16.5px 14px 16.5px 52px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--black-color);
    font-size: 16px;
    letter-spacing: 0.4px;
	transition: 0.3s ease-out;
	background-color: #f9f9f9;
}
.form-input:hover, .form-input:focus{
	border: 1px solid var(--black-color);
}
.form-label:has( + .form-input:hover)::before, .form-label:has( + .form-input:focus)::before{
	background-color:var(--black-color);
}
.profile-svg, .lock-svg{
	position: absolute;
    width: 21px;
    top: 44px;
    left: 12px;
}
#usr-nme::placeholder{
	letter-spacing:0.4px;
	font-size:15px;
}
#usr-passwrd::placeholder{
	letter-spacing:3px;
	font-size:15px;
}
#usr-passwrd{
	padding: 16.5px 60px 16.5px 52px;
}
.passwrd-svgs {
    width: 35px;
    display: inline-block;
    position: absolute;
    top: 37px;
    right: 19px;
    height: 35px;
    border-radius: 50%;
    pointer-events: none;
    overflow: hidden;
}
.passwrd-svgs:hover {
    background-color: #eaecef;
}
.passwrd-svgs::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9d9e9f;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.passwrd-svgs.ripple-active::before { 
    transform: scale(3);
    opacity: 0;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#usr-passwrd:has(+ .passwrd-svgs:hover) {
	border-color:var(--black-color);
}
.form-subcontainer {
	--bg-color:#e0e2e4;
}
.form-subcontainer:has(.passwrd-svgs:hover){
	--bg-color: #1C252E;
}
.form-subcontainer label::before{
	background-color:var(--bg-color);
}
.passwrd-close-svg, .passwrd-open-svg {
    margin: 8px;
    width: 20px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 11;
    user-select: none;
}
.passwrd-close-svg{
	display:none;
}
.submit-button{
    width: 100%;
    height: 48px;
    font-family: inherit;
	background-image: linear-gradient(#404040 0%, #1C252E 100%);
	background-position: top center;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
	outline: none;
    margin-bottom: 10px;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.error-msg{
	display:none;
    font-size: 13px;
    position: absolute;
    color: #ff0000;
	letter-spacing: 0.3px;
	margin: 4px 0px 0px 4px;
}
.error-msg svg{
	width: 17px;
    vertical-align: bottom;
}
.error-active{
	display:block;
}
.alert-popup{
	position: absolute;
	right: 0;
    top: 15px;
    display: block;
    min-height: 60px;
    width: 425px;
    border-left: 5px solid #dc2626;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 9px 0px 5px 12px;
    margin: auto;
    transform: scale(0);
	background-color: #fff;
    transition: top 0.5s ease-out;
}
.popup-appear{
	top:45px;
    transform: scale(1);
}
.alert-cross-svg{
	width:28px;
}
.alert-cls, .alert-cross-svg{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.alert-cls{
	width: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.alert-content{
	margin-left: 40px;
}
.alert-cross-svg, .alert-content{
	display: inline-block;
}
.alert-content-heading{
    font-size: 16px;
    color: #dc2626;
    font-weight: 600;
    margin-bottom: 3px;
}
.alert-content-msg{
    font-size: 14px;
    color: #c22517;
	max-width: 300px;
}
@media(max-width: 768px){
	.wrapper{
		margin: 7rem auto 0;
	}
}
@media(max-width: 450px){
	.wrapper{
		margin: 3rem auto 0;
	}
	.form-container {
		min-width: max-content;
		padding: 30px 3px;
	}
	.category-option {
		font-size: 15px;
		width: 104px;
		padding: 10px 0px;
		text-align:center;
		margin: 6px 1px 0px;
	}
	.category-option::before {
		right: 11px;
	}
	.category-input:checked + .category-option::before {
		transform: scale(0);
	}
	.form-label, .form-heading {
		font-size: 16px;
	}
	.form-title {
		font-size: 26px;
	}
	#usr-nme::placeholder, #usr-passwrd::placeholder{
		font-size:14px;
	}
	.form-input {
		font-size:15px;
	}
	.profile-svg, .lock-svg {
		width: 20px;
	}
	.form-label::before {
		top: 29px;
	}
	.alert-popup {
		width: 96%;
	}
	.alert-cls {
		right: 12px;
	}
	.alert-content-msg {
		max-width: 225px;
		font-size: 13px;
	}
	.alert-popup{
		top: 0px;
	}
	.popup-appear{
		top:8px;
	}
}
